[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "socialSim"]
	path = socialSim
	url = https://github.com/roriwijnhorst/socialsim
